Homepage.mp4
Pop-up Package Details.mp4
resources/video background.mp4
assets/main.pdf
assets/BSEK-examination Karachi.png
assets/Gemini_Generated_Image_kgm6c6kgm6c6kgm6.jpg
.vscode/settings.json
assets/Facebook Accounts (1).txt
assets/Facebook Accounts (3).txt
assets/Google Accounts (3).txt
assets/New Text Document (2) (1).txt
assets/LISAA.txt
