:root {
  --primary-color: blue;
  --secondary-color: white;
  --bg-color: #ffffff;
  --font-size: 16px;
  --spacing: 8px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* a {
  text-decoration: none;
  color: var(--primary-color);
}

html,
body {
  height: 100%;
  width: 100%;
}

.coloured-title {
  color: blue;
  line-height: 1.6;
}

.title {
  font-size: 70px;
  font-weight: 500;
  letter-spacing: 3px;
}

.header {
  position: sticky;
  top: 0;
  z-index: 999;
  height: 100px;
  width: 100%;
  background-color: var(--bg-color);
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
  border-bottom: 1px dashed var(--primary-color);

  nav {
    height: 100%;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .left {
      position: relative;
      width: 60%;
      display: flex;
      align-items: center;
      gap: 30px;

      .logo {
        height: 60px;
        width: 130px;
        cursor: pointer;
      }

      .search-bar {
        width: 500px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 10px;
        padding: 5px 15px;
        background-color: #fff;
        border-radius: 50px;
        border: 1px solid black;

        .search {
          width: 300px;
          height: 40px;
          border: none;
          outline: none;
        }

        .ri-search-line {
          font-size: 20px;
          color: red;
        }
      }
    }

    .right {
      position: relative;
      width: 40%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 150px;

      .links {
        display: flex;
        align-items: center;
        gap: 20px;
        justify-content: space-between;
        width: 65%;

        .active-link {
          border-bottom: 5px solid blue;
        }
      }

      .buttons {
        display: flex;
        align-items: center;
        gap: 15px;

        .ri-shopping-cart-fill {
          font-size: 40px;
          cursor: pointer;
          color: blue;
        }

        button {
          height: 40px;
          width: 100px;
          border: none;
          background-color: blue;
          color: var(--secondary-color);
          font-weight: bold;
          border-radius: 5px;
          cursor: pointer;
        }
      }
    }
  }
}

.hero-section {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-color);

  .background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transform: rotate(180deg);
  }

  .hero-img::before {
    content: "";
    position: absolute;
    top: 26%;
    left: 9%;
    width: 30%;
    height: 60%;
    border-radius: 50%;
    background-color: rgba(38, 127, 216, 0.5);
    z-index: -1;
    filter: blur(15px);
  }

  .hero-img {
    width: 50%;
    height: 100%;
    z-index: 1;

    img {
      width: 100%;
      height: 100%;
    }

    .border {
      position: relative;
    }

    .border::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 50%;
      height: 5px;
      background-color: var(--primary-color);
    }
  }

  .hero-text {
    width: 50%;
    /* height: 100%; */
    padding: 10px 100px;
    display: flex;
    flex-direction: column;
    gap: 60px;
    z-index: 2;

    .hero-para {
      font-size: 13px;
      line-height: 2;
      letter-spacing: 1.2px;
    }
  }
}

.packages-section {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-color);
}

.contact-section {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-color);
  gap: 40px;

  .contact-up {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;

    > div {
      display: flex;
      align-items: center;

      i {
        font-size: 40px;
      }
    }
    padding: 0 100px;
  }

  .contact-down {
    gap: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--primary-color);
    padding: 0 100px;

    > div {
      display: flex;
      flex-direction: column;
      gap: 20px;

      h4 {
        color: rgb(255, 162, 0);
      }

      p {
        color: var(--secondary-color);
      }
    }
  }

  .contact-form {
    width: 100%;
    height: 100%;
    position: absolute;
    right: 100px;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;

    .form-head {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .form {
      display: flex;
      flex-direction: column;
      gap: 20px;
      align-items: center;
      justify-content: center;

      > div {
        display: flex;
        justify-content: space-between;
        gap: 5px;
      }
    }
  }
}
